.mantine-contextmenu-item-button {
  padding: 8px !important;
}

.react-flow__edges {
  /*z-index: 1;*/
}
.react-flow__pane {
  cursor: default !important;
}

.react-flow__node {
  /*cursor: pointer !important;*/
}

.react-flow__handle {
  width: 16px !important;
  height: 16px !important;
  background: var(--mantine-primary-color-filled) !important;
  border: 4px solid var(--mantine-primary-color-2) !important;
  z-index: 2000;
}

.webble .react-flow__handle-top {
  top: -18px;
}

.webble .react-flow__handle-bottom {
  bottom: -18px;
}

.webble .react-flow__handle-left {
  left: -18px;
}

.webble .react-flow__handle-right {
  right: -18px;
}

.webble__inner-handle .react-flow__handle {
  width: 14px !important;
  height: 14px !important;
  /*transform: translateY(0);*/
  z-index: 2000;
}

.webble__inner-handle .react-flow__handle-top {
  top: 0px;
}

.webble__inner-handle .react-flow__handle-bottom {
  bottom: 0px;
}

.webble__inner-handle .react-flow__handle-left {
  left: 7px;
}

.webble__inner-handle .react-flow__handle-right {
  right: 7px;
  z-index: 99999 !important;
}

:root {
  --webble-chat-container-min-height: 200px;

  --webble-chat-bubble-background: var(--mantine-primary-color-light);
  --webble-chat-bubble-text-color: var(--mantine-primary-color-light-color);
  --webble-chat-bubble-sent-background: var(--mantine-primary-color-filled);
  --webble-chat-bubble-sent-text-color: var(--mantine-primary-color-contrast);
  --webble-primary-border: var(--mantine-primary-color-7);
  --webble-radius: 8px;
  --webble-button-background: var(--mantine-primary-color-filled);
  --webble-button-background-hover: var(--mantine-primary-color-filled-hover);
  --webble-button-background-focus: var(--mantine-primary-color-filled-hover);
  --webble-button-border: var(--mantine-primary-color-7);
  --webble-button-border-focus: var(--mantine-primary-color-9);
  --webble-button-text-color: #f4f0fe;
  --webble-button-padding-inline: 16px;
  --webble-button-padding-block: 8px;
  --webble-button-font-size: 14px;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--mantine-primary-color-filled);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--mantine-primary-color-filled),
    0 0 5px var(--mantine-primary-color-filled);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.element-handle .react-flow__handle {
  /*width: 12px !important;*/
  /*height: 12px !important;*/
  /*!*background: red !important;*!*/
  /*border: none !important;*/
  /*z-index: 2000;*/
  /*background: var(--mantine-primary-color-filled) 50% 50% no-repeat !important;*/
  /*box-shadow: inset 0 0 4px var(--mantine-primary-color-1) !important;*/
  width: 14px !important;
  height: 14px !important;
  border-radius: 50% !important;
  background-color: var(--mantine-primary-color-2) !important;
  background-clip: content-box !important;
  padding: 2px !important;
  border: 2px solid var(--mantine-primary-color-4) !important;
}

.element-handle .react-flow__handle-right {
  right: -13px !important;
}

.element-handle .react-flow__handle-left {
  left: -13px !important;
}
