.mantine-contextmenu-item-button {
  padding: 8px !important;
}

.react-flow__handle {
  width: 16px !important;
  height: 16px !important;
  background: var(--mantine-primary-color-filled) !important;
  border: 4px solid var(--mantine-primary-color-2) !important;
  z-index: 2000;
}

.webble .react-flow__handle-top {
  top: -18px;
}

.webble .react-flow__handle-bottom {
  bottom: -18px;
}

.webble .react-flow__handle-left {
  left: -18px;
}

.webble .react-flow__handle-right {
  right: -18px;
}

.webble__inner-handle .react-flow__handle {
  width: 14px !important;
  height: 14px !important;
  /*transform: translateY(0);*/
  z-index: 2000;
}

.webble__inner-handle .react-flow__handle-top {
  top: 0px;
}

.webble__inner-handle .react-flow__handle-bottom {
  bottom: 0px;
}

.webble__inner-handle .react-flow__handle-left {
  left: 7px;
}

.webble__inner-handle .react-flow__handle-right {
  right: 7px;
  z-index: 99999 !important;
}

:root {
  --webble-chat-background: #f9f9f9;
  --webble-chat-bubble-background: #eae7ec;
  --webble-chat-bubble-text-color: #202020;
  --webble-chat-bubble-sent-background: #6e56cf;
  --webble-chat-bubble-sent-text-color: #f4f0fe;
  --webble-primary-border: #c2b5f5;
  --webble-radius: 8px;
  --webble-button-background: #6e56cf;
  --webble-button-background-hover: #654dc4;
  --webble-button-background-focus: #654dc4;
  --webble-button-border: #c2b5f5;
  --webble-button-border-focus: #d4cafe;
  --webble-button-text-color: #f4f0fe;
  --webble-button-padding-inline: 16px;
  --webble-button-padding-block: 8px;
  --webble-button-font-size: 16px;
}
