.root {
  cursor: pointer;
  padding: 8px;
  padding-inline: 16px;
  transition: 0.05s linear;
  box-shadow: none;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-content: space-between;
}
.root:hover {
  box-shadow: var(--mantine-shadow-lg);
  border-color: transparent;
}
